@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}
body {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ultra", serif;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  height: 100vh;
  width: 100%;
  background-color: #171b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.header_container {
  max-width: 1450px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_main_img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.header_top_box {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.header_top_right_box {
  max-width: 467px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_about_box {
  max-width: 289px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_top_right_box_p {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.header_p {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  z-index: 3;
}
.header_btn {
  width: 138px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #171b1b;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  z-index: 3;
}
.contact_btn {
  width: 90px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #171b1b;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  z-index: 3;
  margin-left: 5px;
}
.header_contant {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.header_contant_about {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.header_contant_about_p {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
h1 {
  font-family: "Ultra", serif;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}
#header_contant_about_p2 {
  font-size: 20px;
}
.header_contant_img_box {
  position: relative;
  width: 580px;
  height: 533px;
}
.header_contant_img1 {
  z-index: 0;
  position: absolute;
  top: 25px;
  left: 50px;
}
.header_contant_img2 {
  width: 154px;
  height: 134px;
  transform: rotate(8deg);
  z-index: 1;
  position: absolute;
  top: 100px;
}
.header_contant_img3 {
  position: absolute;
  z-index: 2;
  right: 210px;
  bottom: 260px;
}
.oval_img {
  width: 420px;
  height: 420px;
  background-color: #f5ae5c;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 115px;
  right: 10px;
}
.header_contant_img4 {
  position: absolute;
  z-index: 4;
  top: 65px;
  right: 25px;
}
.header_contant_img5 {
  position: absolute;
  z-index: 0;
  right: 20px;
}
.header_arrow_box {
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 3;
}
section {
  width: 100%;
  background-color: #f5d3ab;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_specialmoments_box {
  padding-top: 155px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.section_specialmoments_img_box {
  position: relative;
  width: 495px;
  height: 653px;
}
.section_specialmoments_img1 {
  width: 370px;
  height: 304px;
  position: absolute;
  z-index: 1;
}
.section_specialmoments_img2 {
  height: 519px;
  position: absolute;
  left: 20px;
  top: 135px;
}
.section_specialmoments_img3 {
  width: 400px;
  height: 350px;
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 250px;
}
.section_specialmoments_img4 {
  position: absolute;
  z-index: 3;
  width: 154px;
  height: 134px;
  top: 100px;
  right: -12px;
}
.about_us_box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.about_us_box_p {
  font-family: "Oswald", sans-serif;
  color: #171b1b;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
}
h2 {
  color: #171b1b;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Ultra", serif;
}
.about_us_slider_box {
  height: 575px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  max-width: 370px;
  font-size: 18px;
  background: #f5d3ab;
  display: flex;
  justify-content: center;
  align-items: start;
}
.swiper_btn_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.swiper_btn {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
.features_heading_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0px;
  gap: 18px;
}
.description_main_box {
  max-width: 1170px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 190px;
}
.description_box {
  position: relative;
  width: 400px;
  height: 384px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 65px;
  gap: 55px;
  cursor: pointer;
}
.description_box_contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
h3 {
  color: #171b1b;
  font-family: "Ultra", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.description_box_p {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
}
.description_img {
  width: 102px;
  height: 87px;
}
.description_box_img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 179px;
  height: 186px;
  display: none;
}
.video_container {
  width: 100%;
  background-color: #171b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_container_contant {
  max-width: 860px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 10px;
  padding-right: 10px;
}
.video_about {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.play_button_box {
  position: relative;
}
.play_btn {
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
h4 {
  font-family: "Ultra", serif;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}
.video_img {
  position: absolute;
  right: 55px;
  bottom: 110px;
}
.video_container_main_box {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_shape_1 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.video_shape_2 {
  position: absolute;
  bottom: 0px;
  right: 578px;
}
.description_box_dark {
  width: 400px;
  height: 416px;
  background-color: #9ead8d;
}
.description_box_dark_mobile {
  width: 280px;
  height: 370px;
  background-color: #9ead8d;
}
.video_body {
  background-color: #00000099;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_box {
  height: 500px;
  border-radius: 10px;
  position: relative;
}
.video {
  height: 500px;
  border: solid 10px black;
  border-radius: 15px;
  background-color: black;
}
.close_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  position: absolute;
  top: -20px;
  right: -20px;
  border: none;
  color: #333;
  font-size: 25px;
  cursor: pointer;
  transition: none;
}
.close_btn:hover {
  opacity: 1;
}
.br_tablet {
  display: none;
}
.menu_button {
  display: none;
}
.swiper2_box {
  display: none;
}
.header_img_mobile {
  display: none;
}
.br_mobile {
  display: none;
}
.section_specialmoments_img_box_mobile {
  display: none;
}
.br_desktop2 {
  display: flex;
}
.burger_menu_box {
  display: none;
}
.burger_menu_extended {
  width: 100px;
  height: 300px;
  position: absolute;
  background-color: #f5ae5c;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 45px;
}
.about_us_box_p_about {
  color: rgba(51, 51, 51, 0.5);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 22px;
}
.about_us_box_p2 {
  text-align: start;
}
.about_us_box_p_heading {
  color: #171b1b;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 12px;
}
.about_us_box_p_bottom {
  font-family: "DM Sans", sans-serif;
  color: #171b1b;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 20px;
}
@media (max-width: 1100px) {
  body {
    overflow-y: auto;
  }
  header {
    height: auto;
  }
  .header_arrow_box {
    padding-top: 50px;
  }
  header {
    height: auto;
  }
  body {
    overflow-y: auto;
  }
  .header_container {
    max-width: 1000px;
  }
  .header_top_box {
    max-width: 850px;
  }
  .header_main_img {
    display: none;
  }
  .header_contant {
    padding-top: 100px;
    max-width: 850px;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
  }
  .section_specialmoments_box {
    max-width: 850px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .description_main_box {
    max-width: 850px;
  }
  .video_container_contant {
    max-width: 680px;
  }
  .video_container_main_box {
    max-width: 1100px;
  }
  h2 {
    text-align: center;
  }
  .br_desktop {
    display: none;
  }
  .description_box_p {
    line-height: 23px;
  }
  .br_tablet {
    display: flex;
  }
  .video {
    height: 400px;
    width: 700px;
  }
  .video_box {
    height: 400px;
    width: 700px;
  }
  .about_us_box_p2 {
    text-align: start;
  }
}
@media (max-width: 870px) {
  .video_shape_2 {
    right: 400px;
  }
  .description_box {
    display: none;
  }
  .description_main_box {
    display: none;
  }
  .swiper2_box {
    display: flex;
    padding-top: 55px;
    padding-bottom: 155px;
  }
  .swiper.mySwiper1 {
    width: 400px;
    height: 384px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
  }

  .swiper.mySwiper1 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
  }

  .swiper.mySwiper1 .swiper-slide:nth-child(1n) {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper.mySwiper1 .swiper-slide:nth-child(2n) {
    background-color: white;
  }

  .swiper.mySwiper1 .swiper-slide:nth-child(3n) {
    background-color: white;
  }
  .description_box_contant {
    padding-top: 58px;
  }
  .swiper_box {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    justify-content: center;
  }
  .video_container_contant {
    flex-direction: column;
  }
  h4 {
    font-size: 40px;
    line-height: 48px;
  }
  .video_shape_2 {
    right: 300px;
  }
  .about_us_box_p {
    text-align: center;
  }
  .video {
    height: 300px;
    width: 500px;
  }
  .video_box {
    height: auto;
    width: auto;
  }
  .about_us_box_p2 {
    text-align: start;
  }
}
@media (max-width: 650px) {
  .burger_menu {
    position: absolute;
    width: 100px;
    height: 0px;
    right: 0px;
  }
  .header_arrow_box {
    padding-top: 50px;
  }
  .header_container {
    max-width: 330px;
  }
  .header_top_box {
    max-width: 330px;
  }
  .header_about_box {
    display: none;
  }
  .header_btn {
    display: none;
  }
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
  #header_contant_about_p2 {
    font-size: 19px;
  }
  .menu_button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }
  .header_main_img {
    display: none;
  }
  .header_contant {
    padding-top: 25px;
    max-width: 330px;
    flex-direction: column-reverse;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }
  .section_specialmoments_box {
    max-width: 330px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 95px;
  }
  .description_main_box {
    max-width: 330px;
  }
  .video_container_contant {
    max-width: 400px;
  }
  .video_container_main_box {
    max-width: 650px;
  }
  .about_us_box_p {
    text-align: start;
  }
  h2 {
    text-align: start;
    font-size: 40px;
    line-height: 48px;
  }
  #h2_bottom {
    text-align: center;
  }
  .description_box_p {
    line-height: 23px;
  }
  .br_tablet {
    display: flex;
  }
  .header_contant_img_box {
    display: none;
  }
  .header_img_mobile {
    display: flex;
  }
  .br_mobile {
    display: block;
  }
  .swiper.mySwiper1 {
    width: 260px;
    height: 350px;
  }
  .swiper_box {
    padding-left: 25px;
  }
  .video_shape_2 {
    right: 215px;
  }
  .section_specialmoments_img_box {
    display: none;
  }
  .section_specialmoments_img_box_mobile {
    display: flex;
    position: relative;
  }
  .section_specialmoments_img1_mobile {
    position: absolute;
    width: 300px;
    height: 300px;
    width: 234px;
    height: 194px;
    top: 0px;
    left: 0px;
  }
  .section_specialmoments_img3_mobile {
    position: absolute;
    width: 254px;
    height: 254px;
    bottom: 31px;
    left: 44px;
  }
  .br_tablet {
    display: none;
  }
  .video {
    height: 100vh;
    width: 100%;
    border-radius: 0%;
  }
  .video_box {
    border-radius: none;
  }
  .close_btn {
    top: 0px;
    right: 0px;
  }
  .br_desktop2 {
    display: none;
  }
  .description_box_p {
    font-size: 15px;
  }
  .burger_menu_box {
    display: flex;
    flex-direction: column;
  }
  .about_us_box_p2 {
    text-align: start;
  }
  .about_us_slider_box {
    gap: 35px;
    height: 760px;
  }
  .features_heading_box {
    padding-top: 100px;
  }
}
@media (max-width: 660px) {
  .video_shape_2 {
    right: 120px;
  }
}
.burger_menu_p {
  padding-left: 16px;
}
